<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ReplicatorAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="RunScript\\replicator_logs.txt"/>
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <appender name="GeneralAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="RunScript\\general_logs.txt"/>
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
    </appender>
    <logger name="ReplicatorLogger">
      <level value="ALL" />
      <appender-ref ref="ReplicatorAppender" />
    </logger>
    <logger name="GeneralLogger">
      <level value="ALL" />
      <appender-ref ref="GeneralAppender" />
    </logger>
  </log4net>
</configuration>